<div class="col-12 col-lg-6 order-lg-2">
    <div class="row">
        <div class="col-12 col-sm-6">
            <nav aria-label="{{ 'sylius.ui.footer_informational_links'|trans }}" class="nav flex-column">
                <a class="nav-link" href="{{ path('sylius_shop_static_about') }}">O Galantych Wypiekach</a>
                <a class="nav-link" href="{{ path('sylius_shop_static_terms') }}">Regulamin sklepu</a>
                <a class="nav-link" href="{{ path('sylius_shop_static_privacy') }}">Polityka prywatności</a>
                <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">Skontaktuj się z nami</a>
            </nav>
        </div>

        <div class="col-12 col-sm-6">
            <nav aria-label="{{ 'sylius.ui.footer_help_links'|trans }}" class="nav flex-column mb-5">
                <a class="nav-link" href="{{ path('sylius_shop_static_faq') }}">Pytania i odpowiedzi</a>
                <a class="nav-link" href="{{ path('sylius_shop_static_delivery') }}">Dostawa i płatność</a>
                <a class="nav-link" href="{{ path('sylius_shop_static_returns') }}">Zasady zwrotów</a>
            </nav>
        </div>
    </div>
</div>
